@page "{id:int}"
@model FarmersMarketOrganizer.Pages_Vendors.EditModel
@{
    ViewData["Title"] = "Edit Vendor";
}

<h1>Edit Vendor</h1>

<h4>Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="Vendor.Id" />
            <div class="form-group">
                <label asp-for="Vendor.BusinessName" class="control-label"></label>
                <input asp-for="Vendor.BusinessName" class="form-control" />
                <span asp-validation-for="Vendor.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor.ContactName" class="control-label"></label>
                <input asp-for="Vendor.ContactName" class="form-control" />
                <span asp-validation-for="Vendor.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor.Email" class="control-label"></label>
                <input asp-for="Vendor.Email" class="form-control" />
                <span asp-validation-for="Vendor.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
