@page
@model FarmersMarketOrganizer.Pages_Bookings.EditModel

@{
    ViewData["Title"] = "Edit Booking";
}

<h1>Edit Booking</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Booking.VendorId" class="control-label"></label>
                <select asp-for="Booking.VendorId" class="form-control" asp-items="Model.VendorOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.StallId" class="control-label"></label>
                <select asp-for="Booking.StallId" class="form-control" asp-items="Model.StallOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.MarketDayId" class="control-label"></label>
                <select asp-for="Booking.MarketDayId" class="form-control" asp-items="Model.MarketDayOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Booking.IsConfirmed" class="control-label"></label>
                <input asp-for="Booking.IsConfirmed" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>
